.animatedBlocks{
    // position: relative;
    // right: -2rem;
    // top: -9.8rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    min-width: calc(50% + 2rem);
    // height: calc(100% - 9.8rem);
    min-height: calc(60rem - 9.8rem);
    // border: 0.1rem solid red;
    border-radius: 0 0 0 4rem;
    background-color: var(--white400);
    overflow: hidden;
    z-index: 0;

    &__column{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        // padding: 2rem;
        max-height: 60rem;
        animation: sliding 12s infinite;

        &:nth-child(2){
            justify-content: flex-end;
            animation: sliding2 9s infinite ease-in-out;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 25rem;
        width: 30rem;
        min-height: 15rem;
        border-radius: 2rem;
        z-index: 1;
        overflow: hidden;

        &:nth-child(1) {
            min-height: 23rem;
        }

        &:nth-child(2) {
            min-height: 17rem;
        }

        &:nth-child(3) {
            min-height: 21rem;
        }

        &:nth-child(4) {
            min-height: 20rem;
        }

        &:nth-child(5) {
            min-height: 19rem;
        }

        &--blue {
            background: radial-gradient(circle at right top,  var(--blue200) 0%, var(--blue250) 100%) ;
        }

        &--red {
            // background-color: var(--red300);
            background: radial-gradient(circle at right top,  var(--red200) 0%, var(--red300) 100%) ;
        }

        &--green {
            // background-color: var(--green700);
            background: radial-gradient(circle at right top,  var(--green100) 0%, var(--green600) 100%) ;
        }

        &--purple {
            // background-color: var(--purple400);
            background: radial-gradient(circle at right top,  var(--purple100) 0%, var(--purple300) 100%) ;
        }
    }

    &__img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

@keyframes sliding {
    0% {
        transform: translateY(3rem);
    }
    50% {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(3rem);
    }
}

@keyframes sliding2 {
    0% {
        transform: translateY(3rem);
    }
    50% {
        transform: translateY(45%);
    }
    100% {
        transform: translateY(3rem);
    }
}

.box{

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }

    &__text{
        font-size: 2.7rem;
        color: var(--white500);

        &:nth-child(2) {
            font-size: 1.8rem;
        }
    }
}

@media screen and (max-width: 1440px){
    .animatedBlocks{
        min-width: 36rem;
        &__column:nth-child(2){
            display: none;
        }
    }
}

@media screen and (max-width: 911px){
    .animatedBlocks{
        display: none;
    }
}