.animatedBlocks {
    
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 25rem;
        width: 30rem;
        min-height: 15rem;
        border-radius: 2rem;
        z-index: 1;
        overflow: hidden;

        &:nth-child(1) {
            min-height: 23rem;
        }

        &:nth-child(2) {
            min-height: 17rem;
        }

        &:nth-child(3) {
            min-height: 21rem;
        }

        &:nth-child(4) {
            min-height: 20rem;
        }

        &:nth-child(5) {
            min-height: 19rem;
        }

        &--blue {
            background: radial-gradient(circle at right top,  var(--blue200) 0%, var(--blue250) 100%) ;
        }

        &--red {
            // background-color: var(--red300);
            background: radial-gradient(circle at right top,  var(--red200) 0%, var(--red300) 100%) ;
        }

        &--green {
            // background-color: var(--green700);
            background: radial-gradient(circle at right top,  var(--green100) 0%, var(--green600) 100%) ;
        }

        &--purple {
            // background-color: var(--purple400);
            background: radial-gradient(circle at right top,  var(--purple100) 0%, var(--purple300) 100%) ;
        }

        &--neon {
            background: radial-gradient(circle at right top, #ee49fd 0%, #6157ff 100%);
        }
        &--lime {
            background: radial-gradient(circle at right top, #FFF878 0%, #2DFFF5 100%);
        }
        &--malibu {
            background: radial-gradient(circle at right top,  #DDFFC9 0%, #0700DE 100%);
        }
        &--mojito {
            background: radial-gradient(circle at right top, #64e9ff 0%, #103ce7 100%);
        }
        &--azure {
            background: radial-gradient(circle at right top, #74febd 0%, #0172af 100%);
        }
        &--butterfly {
            background: radial-gradient(circle at right top, #fff16a 0%, #ff4066 100%);
        }
        &--peach {
            background: radial-gradient(circle at right top, #fff9d2 0%, #ff8473 100%);
        }
    }

    &__img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}