.employer{
    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-requirements {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;

        }

        &-buttons {
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
        
        }
    }
}
.searchedData__results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 991px) {
    .employer__form-requirements,
    .searchedData__results {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .employer__form-requirements,
    .searchedData__results {
        grid-template-columns: 1fr;
    }
}