.employer{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: var(--wrapper-padding);
    overflow: hidden;
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        max-width: var(--max-width);
    }
}