:root {
    --transition: all 250ms ease;
    --max-width: 1200px;
    --max-width-footer: 1200px;
    --wrapper-padding: 9.8rem 2rem 2rem 2rem;
    --white700: #ffffff;
    --white600: #faf9f6;
    --white500: #f9f6ee;
    --white400: #edeade;
    --white300: #e2dfd2;
    --black800: #000000;
    --black700: #111111;
    --black600: #1b1212;
    --black500: #28282b;
    --black400: #343434;
    --black300: #353935;
    --black200: #36454f;
    --black100: #454545;
    --gray800: #585858;
    --gray700: #71797e;
    --gray600: #848884;
    --gray500: #a9a9a9;
    --gray400: #c0c0c0;
    --gray300: #d3d3d3;
    --gray200: #e5e4e2;
    --blue700: #191970;
    --blue600: #00008b;
    --blue500: #1434a4;
    --blue400: #0f52ba;
    --blue300: #3f00ff;
    --red700: #4a0404;
    --red600: #8b0000;
    --red500: #dc143c;
    --red400: #d70040;
    --red300: #ff2400;
    --brown300: #9E3500;
    --green700: #008631;
    --green600: #00ab41;
    --green500: #00c04b;
    --green400: #1fd655;
    --green300: #39e75f;
    --green200: #5ced73;
    --green100: #7cfc00;
}
