:root {
    --transition: all 250ms ease;
    --max-width: 1200px;
    --max-width-footer: 1200px;
    --wrapper-padding: 4.9rem 2rem 2rem 2rem;
    --wrapper-padding-large: 6.9rem 2rem 2rem 2rem;
    --white700: #ffffff;
    --white600: #faf9f6;
    --white500: #f9f6ee;
    --white400: #edeade;
    --white300: #e2dfd2;
    --white200: #d7d4c5;
    --white100: #ccc9b8;
    --black800: #000000;
    --black700: #111111;
    --black600: #1b1212;
    --black500: #28282b;
    --black400: #343434;
    --black300: #353935;
    --black200: #36454f;
    --black100: #454545;
    --gray800: #585858;
    --gray700: #71797e;
    --gray600: #848884;
    --gray500: #a9a9a9;
    --gray400: #c0c0c0;
    --gray300: #d3d3d3;
    --gray200: #e5e4e2;
    --gray100: #f0f7f4;
    --gray50: #f9f9f9;
    --blue700: #191970;
    --blue600: #00008b;
    --blue500: #1434a4;
    --blue400: #0f52ba;
    --blue300: #3f00ff;
    --blue250: #2968ff;
    --blue200: #00bfff;
    --blue100: #f0f7fc;
    --lightblue700: #00bfff;
    --lightblue600: #00cafd;
    --lightblue500: #00ced1;
    --lightblue400: #00e5ee;
    --lightblue300: #00f5ff;
    --lightblue200: #e0ffff;
    --lightblue100: #f0f8ff;
    --red700: #4a0404;
    --red600: #8b0000;
    --red500: #dc143c;
    --red400: #d70040;
    --red300: #ff2400;
    --red200: #ff6347;
    --red100: #ff7f50;
    --brown300: #9E3500;
    --green700: #008631;
    --green600: #00ab41;
    --green500: #00c04b;
    --green400: #1fd655;
    --green300: #39e75f;
    --green200: #5ced73;
    --green100: #7cfc00;
    --purple700: #4b0082;
    --purple600: #800080;
    --purple500: #9932cc;
    --purple400: #8a2be2;
    --purple300: #9400d3;
    --purple200: #ba55d3;
    --purple100: #dda0dd;
    --yellow700: #8b8000;
    --yellow600: #ffcc00;
    --yellow500: #ffd700;
    --yellow400: #ffdb58;
    --yellow300: #ffec8b;
    --yellow200: #ffef96;
    --yellow100: #fff68f;

    --progress-gradient: linear-gradient(to right, #28df99, #ffbd69, #f37121, #c70039, #4d4c7d);
}
