.navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f0f7fca0;
    box-shadow: 0 0 1.5rem 0.3rem rgba(17,17,17,0.25);
    z-index: 100;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    &__logo {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: var(--max-width);
    }

    &__links {
        display: flex;
        gap: 2.5rem;
        list-style: none;
    }

    &__mobile-icon {
        display: none;
        font-size: 2.4rem;
        cursor: pointer;
        transition: var(--transition);

        &:hover {
            color: var(--blue400);
        }
    }
}

.navbar-mobile{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    height: 100vh;
    height: 100dvh;
    padding: 4rem 2rem;
    background-color: var(--blue100);
    transition: var(--transition);
    z-index: 101;

    &__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
    }
}

.open-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.closed-menu {
    position: fixed;
    top: 0;
    left: -100%;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: var(--transition);
    z-index: 100;

    &.in.visible {
        background-color: rgba(0,0,0,0.25);
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        &__links {
            display: none;
        }

        &__mobile-icon{
            display: flex;
        }
    }
}

@media screen and (max-width: 400px) {
    .navbar-mobile {
        width: 100%;
    }
}