.candidate__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form{
    &__state-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 30rem;
    }
}