.candidate{
    &__position {
        --state-wrapper-bg: var(--white700);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 50rem;
        padding: 2rem;
        border-radius: 1.5rem;
        margin: 0 auto;
        text-align: center;
        background-color: var(--state-wrapper-bg);
        box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.1);

        &-input {
            width: 100%;
            max-width: 30rem;
            padding: 1rem;
            border: 0.1rem solid var(--black600);
            border-radius: 2.5rem;
            // outline: none;
            font-weight: 500;
            font-size: 1.6rem;
            font-family: inherit;
        }
    }

    &__form{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
        
        &-buttons {
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }
}

.candidate_toDelete {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.selectSkill {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__chosen {
        position: relative;
        display: flex;
        width: 100%;
        border: 0.1rem solid var(--black600);
        background-color: var(--state-wrapper-bg);
        border-radius: 1.6rem;
        padding: 0.5rem 1rem;
        // transition: var(--transition);
        cursor: pointer;
        z-index: 5;
        // transition-property: border-radius, border;
        // transition-delay: 400ms, 250ms;
        transition:
            border-radius 250ms linear 500ms,
            border-bottom 0ms linear 500ms;
        
        &.open {
            border-radius: 1.6rem 1.6rem 0 0;
            border-bottom: 0.1rem solid rgba(0,0,0,0);
            transition:
                border-radius 250ms linear 0ms,
                border-bottom 0ms linear 250ms;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        display: flex;
        transform: translateY(-50%);
        z-index: 5;

        &-svg {
            font-size: 1.4rem;
            transition: var(--transition);

            &.open {
                transform: rotate(180deg);
            }
        }
    }

    &__options {
        position: absolute;
        top: calc(100%);
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        // border-radius: 1rem;
        // border: 0.1rem solid var(--black600);
        // box-shadow: inset 0 20px 20px -20px #fff,inset 0 -20px 20px -20px #fff;
        border: 0 solid rgba(0,0,0,0);
        overflow: auto;
        -webkit-backdrop-filter: blur(0.5rem);
        backdrop-filter: blur(0.5rem);
        scroll-behavior: smooth;
        // transition: var(--transition);
        transition:
            max-height 250ms linear 250ms,
            border-bottom 0ms linear 500ms,
            border-left 0ms linear 500ms,
            border-right 0ms linear 500ms;
        // transition-property: max-height, border-bottom, border-left, border-right;
        // transition-duration: 250ms, 0, 250ms, 250ms;
        // transition-delay: 500ms, 0, 250ms, 250ms;
        z-index: 4;
        
        &.open {
            max-height: 10rem;
            border-left: 0.1rem solid var(--black600);
            border-right: 0.1rem solid var(--black600);
            border-bottom: 0.1rem solid var(--black600);
            transition:
                max-height 250ms linear 500ms,
                border-bottom 0ms linear 250ms,
                border-left 250ms linear 250ms,
                border-right 250ms linear 250ms;
        }

        &-button {
            display: flex;
            padding: 0rem 1rem;
            background: none;
            border: none;
            transition: var(--transition);

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .candidate__form {
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 700px) {
    .candidate__form {
        &-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}