.positionInput {
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border: 0.1rem solid var(--black600);
    border-radius: 2.5rem;
    // outline: none;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: inherit;
}