.candidateCardHeader {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__profile-picture {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        border: 0.1rem solid rgba(21, 23, 27, 0.08);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    &__position {
        font-size: 1.8rem;
    }

    &__years {
        font-size: 1.4rem;

        &--short {
            display: none;
        }
    }
}