@import './styles/_variables.scss';
@import './styles/_default.scss';
@import './styles/_functional.scss';
@import './styles/shared/_form.scss';

* {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* background-color: var(--white700); */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--blue100);
  min-height: 100vh;
  min-height: 100dvh;
}