:root {
    --candidate-card-bg: var(--white700);
}

.candidate-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--candidate-card-bg);
    box-shadow: 0 0 0.5rem 0.2rem rgba(21, 23, 27, 0.1);
    border-radius: 2rem;

    &__email {
        display: flex;
        gap: 1rem;
    }

    &__experience-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__show-details {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 15rem;
        padding: 0.6rem 1.4rem;
        border: 1px solid transparent;
        border-radius: 2.8rem;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0.5rem 0.2rem rgba(21, 23, 27, 0.1);
        transition: var(--transition);

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0.5rem 0.5rem rgba(21, 23, 27, 0.08)
        }

        & .icon {
            &--envelope {
                font-size: 1.8rem;
            }
        }
    }
}